<a href="https://colab.research.google.com/github/fulasho/Predictive-Analytics/blob/main/Ecom_Purchases_Project2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ecommerce Purchases Exercise

In this Exercise you will work with 'Fake Data' about some purchases done through Amazon! Follow the directions on the cells bellow and try your best to answer the questions and complete the tasks. Many of the tasks can be solved in 'different ways'.

Do not get discouraged if the exercie does not make "Real-World", REMEMBER that all the data is made-up.

Also note that all of these questions can be answered with one line of code.
____
*Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom.*

#Import Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set()
import matplotlib.pyplot as plt
%matplotlib inline
import statistics

In [2]:
Ecom = pd.read_csv('https://raw.githubusercontent.com/glopez21/ML-Data/main/EcommercePurchases.csv')

**Check the head of the DataFrame.**

In [3]:
Ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

*How many rows and columns are there?*

In [4]:
Ecom.shape

(10000, 14)

*What is the average Purchase Price?*

In [5]:
average_purchase_price = Ecom['Purchase Price']

In [6]:
average_purchase_price.mean()

50.34730200000025

2nd Method

In [7]:
average_purchase_price = statistics.mean(Ecom['Purchase Price'])

In [8]:
print("average_purchase_price" + str(round(average_purchase_price, 2)))

average_purchase_price50.35

What were the highest and lowest purchase prices?

In [9]:
Highest_purchase_price = Ecom['Purchase Price'].max()

In [10]:
Highest_purchase_price

99.99

In [11]:
lowest_purchase_price = Ecom['Purchase Price'].min()

In [12]:
lowest_purchase_price

0.0

*How many people have English 'en' as their Language of choice on the website?*

In [13]:
English_language = Ecom[(Ecom['Language']=='en')].value_counts()

In [14]:
English_language.count()

1098

*How many people have the job title of "Lawyer" ?*

In [15]:
lawyer = Ecom[(Ecom['Job']=='Lawyer')].value_counts()

In [16]:
lawyer.count()

30

*How many people made the purchase during the AM and how many people made the purchase during PM ?*

*(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) )*

In [17]:
Ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

*What are the 5 most common Job Titles?*

In [18]:
most_common_job = Ecom['Job'].value_counts().nlargest(5)

In [19]:
most_common_job

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

*Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?*

In [20]:
purchase_price_for_lot = Ecom[(Ecom['Lot']=="90 WT" )]

In [21]:
purchase_price_for_lot['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

*What is the email of the person with the following Credit Card Number: 4926535242672853*

In [22]:
email_person  = Ecom[(Ecom['Credit Card']==4926535242672853 )]

In [23]:
email_person['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

*How many people have American Express as their Credit Card Provider and made a purchase above $95 ?*

In [24]:
Ecom['CC Provider'].unique()

array(['JCB 16 digit', 'Mastercard', 'Discover',
       'Diners Club / Carte Blanche', 'VISA 16 digit', 'VISA 13 digit',
       'American Express', 'Voyager', 'JCB 15 digit', 'Maestro'],
      dtype=object)

In [25]:
people_count = Ecom[((Ecom['CC Provider']=='American Express')) & (Ecom['Purchase Price']>95)].value_counts()

In [26]:
people_count.count()

39

*Hard: How many people have a credit card that expires in 2025?*

In [27]:
Ecom['Year']= Ecom['CC Exp Date'].str[3:5]

In [28]:
Ecom['CC Exp Date'].unique()

array(['02/20', '11/18', '08/19', '02/24', '10/25', '07/25', '07/24',
       '06/25', '04/24', '01/17', '02/17', '06/26', '05/26', '01/25',
       '09/22', '04/25', '06/22', '01/26', '12/22', '03/22', '03/25',
       '07/22', '02/23', '07/18', '05/19', '03/19', '12/16', '11/24',
       '04/17', '01/20', '05/25', '01/21', '09/16', '09/20', '06/18',
       '12/20', '02/19', '08/20', '04/23', '08/24', '03/26', '05/24',
       '10/17', '08/17', '11/23', '09/19', '02/26', '01/24', '10/20',
       '05/20', '09/25', '11/21', '06/21', '07/23', '03/21', '12/23',
       '11/22', '01/18', '08/22', '08/25', '05/21', '06/17', '10/19',
       '01/22', '11/25', '08/23', '02/18', '12/24', '04/18', '02/25',
       '10/16', '07/17', '06/20', '08/18', '10/18', '09/21', '03/23',
       '03/24', '11/20', '06/19', '07/21', '10/24', '09/17', '09/18',
       '05/22', '12/19', '07/19', '01/23', '10/22', '11/16', '07/20',
       '12/25', '10/21', '05/17', '01/19', '02/22', '10/23', '03/20',
       '12/21', '11/19', '09/23', '02/21', '06/23', '11/17', '03/17',
       '04/21', '09/24', '06/24', '05/23', '07/26', '04/22', '08/16',
       '04/19', '12/18', '12/17', '03/18', '08/21', '05/18', '04/26',
       '08/26', '04/20'], dtype=object)

In [29]:
Ans = 1033

*Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)*

In [30]:
Ecom['Email'].apply(lambda email:email.split('@')[1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

# Great Job!