<a href="https://colab.research.google.com/github/fulasho/Predictive-Analytics/blob/main/Salaries_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Let import the librairies we need for this EDA

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Let upload our csv dataset using pandas

In [21]:
salaries = pd.read_csv('https://raw.githubusercontent.com/glopez21/ML-Data/main/Salaries.csv')

In [22]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [23]:
salaries.tail()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148649,148650,Roy I Tillery,Custodian,0.0,0.0,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [24]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [25]:
salaries.duplicated().sum()

0

What is the average BasePay?

In [26]:
salaries['BasePay'].mean()

66325.44884050643

What is the highest amount of OvertimePay in the dataset ?

In [27]:
salaries['OvertimePay'].max()

245131.88

Find the job title of any particular person e.g CHRISTOPHER CHONG ?

In [28]:
salaries[salaries['EmployeeName']=='CHRISTOPHER CHONG']['JobTitle']

3    WIRE ROPE CABLE MAINTENANCE MECHANIC
Name: JobTitle, dtype: object

Complete the row for CHRISTOPHER CHONG

In [29]:
salaries[salaries['EmployeeName']=='CHRISTOPHER CHONG']

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN

How much does any particular employee make? example: CHRISTOPHER CHONG(including benefits)

In [30]:
salaries[salaries['EmployeeName']=='CHRISTOPHER CHONG']['TotalPayBenefits']

3    332343.61
Name: TotalPayBenefits, dtype: float64

 What is the name of the highest paid employee? (including benefits)

In [31]:
salaries[salaries['TotalPayBenefits']==salaries['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

What is the name of the lowest paid employee? (including benefits)

In [32]:
salaries[salaries['TotalPayBenefits']==salaries['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

Another method to answer the above question

In [33]:
salaries.loc[salaries['TotalPayBenefits'].idxmin()]['EmployeeName']

'Joe Lopez'

What was the average (mean) BasePay of all employees per year? e.g (2011-2014)

In [34]:
salaries.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

Let see the Average (mean) BasePay only in 2011

In [35]:
salaries[salaries['Year']==2011]['BasePay'].mean()

63595.956516774524

How many unique job titles are there?

In [36]:
salaries['JobTitle'].nunique()

2159

What are the top 5 most common jobs?

In [37]:
salaries['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

How many Job Titles were represented by only one person in 2011? (e.g. Job Titles with only one occurence in 2011)

In [38]:
sum(salaries[salaries['Year']==2011]['JobTitle'].value_counts()==1)

200